Brotli
click
colorama
cycler
dash
dash-core-component
dash-html-components
dash-table
Flask
Flask-Compress
fonttools
gunicorn
importlib-metadata
itsdangerous
Jinja2
kiwisolve
lxml
MarkupSafe
numpy
opcua
packaging
Pillow
plotly
pyparsing
python-dateutil
pytz
six
tenacity
typing_extensions
Werkzeug
zipp
